<!doctype html>
<html ng-app="dpscheckeryon">
<head>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/data.js"></script>
</head>
<body ng-controller="dpscheckeryonCtrl">

<h1>title</h1>

<div class="row">
    <div class="col-md-4">
        <form>
            <select class="form-control" ng-model="weapon" ng-options="w.name for w in Weapons">
                <option></option>
            </select>
        </form>

        <form>
            <select class="form-control" ng-model="head" ng-options="h.name for h in Heads">
                <option></option>
            </select>
        </form>

        <form>
            <select class="form-control" ng-model="body" ng-options="b.name for b in Bodys">
                <option></option>
            </select>
        </form>
    </div>

    <div class="col-md-8">
        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>名前</th>
                <th>STR</th>
                <th>VIT</th>
                <th>命中</th>
                <th>クリ</th>
                <th>意思</th>
                <th>SS</th>
                <th>物理基本</th>
                <th>物理AA</th>
                <th>AA間隔</th>
                <th>AA威力</th>
            </tr>
            <tr>
                <td>{{ weapon.name }}</td>
                <td>{{ weapon.str }}</td>
                <td>{{ weapon.vit }}</td>
                <td>{{ weapon.acc }}</td>
                <td>{{ weapon.crit }}</td>
                <td>{{ weapon.det }}</td>
                <td>{{ weapon.ssp }}</td>
                <td>{{ weapon.pyhd }}</td>
                <td>{{ weapon.aadam }}</td>
                <td>{{ weapon.aadel }}</td>
                <td>{{ ( weapon.aadam / weapon.pyhd) * 100 }}</td>
            </tr>
            <tr>
                <td>{{ head.name }}</td>
                <td>{{ head.str }}</td>
                <td>{{ head.vit }}</td>
                <td>{{ head.acc }}</td>
                <td>{{ head.crit }}</td>
                <td>{{ head.det }}</td>
                <td>{{ head.ssp }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>{{ body.name }}</td>
                <td>{{ body.str }}</td>
                <td>{{ body.vit }}</td>
                <td>{{ body.acc }}</td>
                <td>{{ body.crit }}</td>
                <td>{{ body.det }}</td>
                <td>{{ body.ssp }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>