<!doctype html>
<html ng-app="dpscheckeryon">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.2.3/angular-cookies.min.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/data.js"></script>
</head>
<body ng-controller="dpscheckeryonCtrl">



<div class="container">
    <h1>DPSチェッカーよん？ver.1.0 <small>web版</small></h1>
    <p>via. <a href="https://docs.zoho.com/sheet/published.do?rid=gu1wadbc038dc9577433d9f32630bb77f7a1f">https://docs.zoho.com/sheet/published.do?rid=gu1wadbc038dc9577433d9f32630bb77f7a1f</a></p>
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>名前</th>
                    <th>STR</th>
                    <th>VIT</th>
                    <th>命中</th>
                    <th>クリ</th>
                    <th>意思</th>
                    <th>SS</th>
                    <th>備考</th>
                </tr>
            </thead>
            <tbody>
                <tr class="danger">
                    <th colspan="2" class="text-center">基本ステータス</th>
                    <td><input type="number" style="width: 60px;" maxlength="3" ng-model="baseParameter.str"></td>
                    <td><input type="number" style="width: 60px;" maxlength="3" ng-model="baseParameter.vit"></td>
                    <td><input type="number" style="width: 60px;" maxlength="3" ng-model="baseParameter.acc"></td>
                    <td><input type="number" style="width: 60px;" maxlength="3" ng-model="baseParameter.crit"></td>
                    <td><input type="number" style="width: 60px;" maxlength="3" ng-model="baseParameter.det"></td>
                    <td><input type="number" style="width: 60px;" maxlength="3" ng-model="baseParameter.ssp"></td>
                    <td></td>
                </tr>
                <tr>
                    <th>武器</th>
                    <td><select class="form-control input-sm" ng-model="item.weapon" ng-options="w.name for w in Weapons"></select></td>
                    <td>{{ item.weapon.str }}</td>
                    <td>{{ item.weapon.vit }}</td>
                    <td>{{ item.weapon.acc }}</td>
                    <td>{{ item.weapon.crit }}</td>
                    <td>{{ item.weapon.det }}</td>
                    <td>{{ item.weapon.ssp }}</td>
                    <td>{{ item.weapon.memo }}</td>
                </tr>
                <tr>
                    <th>頭</th>
                    <td><select class="form-control input-sm" ng-model="item.head" ng-options="h.name for h in Heads"></select></td>
                    <td>{{ item.head.str }}</td>
                    <td>{{ item.head.vit }}</td>
                    <td>{{ item.head.acc }}</td>
                    <td>{{ item.head.crit }}</td>
                    <td>{{ item.head.det }}</td>
                    <td>{{ item.head.ssp }}</td>
                    <td>{{ item.head.memo }}</td>
                </tr>
                <tr>
                    <th>胴</th>
                    <td><select class="form-control input-sm" ng-model="item.body" ng-options="b.name for b in Bodys"></select></td>
                    <td>{{ item.body.str }}</td>
                    <td>{{ item.body.vit }}</td>
                    <td>{{ item.body.acc }}</td>
                    <td>{{ item.body.crit }}</td>
                    <td>{{ item.body.det }}</td>
                    <td>{{ item.body.ssp }}</td>
                    <td>{{ item.body.memo }}</td>
                </tr>
                <tr>
                    <th>手</th>
                    <td><select class="form-control input-sm" ng-model="item.hand" ng-options="ha.name for ha in Hands"></select></td>
                    <td>{{ item.hand.str }}</td>
                    <td>{{ item.hand.vit }}</td>
                    <td>{{ item.hand.acc }}</td>
                    <td>{{ item.hand.crit }}</td>
                    <td>{{ item.hand.det }}</td>
                    <td>{{ item.hand.ssp }}</td>
                    <td>{{ item.hand.memo }}</td>
                </tr>
                <tr>
                    <th>帯</th>
                    <td><select class="form-control input-sm" ng-model="item.waist" ng-options="wa.name for wa in Waists"></select></td>
                    <td>{{ item.waist.str }}</td>
                    <td>{{ item.waist.vit }}</td>
                    <td>{{ item.waist.acc }}</td>
                    <td>{{ item.waist.crit }}</td>
                    <td>{{ item.waist.det }}</td>
                    <td>{{ item.waist.ssp }}</td>
                    <td>{{ item.waist.memo }}</td>
                </tr>
                <tr>
                    <th>脚</th>
                    <td><select class="form-control input-sm" ng-model="item.leg" ng-options="l.name for l in Legs"></select></td>
                    <td>{{ item.leg.str }}</td>
                    <td>{{ item.leg.vit }}</td>
                    <td>{{ item.leg.acc }}</td>
                    <td>{{ item.leg.crit }}</td>
                    <td>{{ item.leg.det }}</td>
                    <td>{{ item.leg.ssp }}</td>
                    <td>{{ item.leg.memo }}</td>
                </tr>
                <tr>
                    <th>足</th>
                    <td><select class="form-control input-sm" ng-model="item.foot" ng-options="f.name for f in Foots"></select></td>
                    <td>{{ item.foot.str }}</td>
                    <td>{{ item.foot.vit }}</td>
                    <td>{{ item.foot.acc }}</td>
                    <td>{{ item.foot.crit }}</td>
                    <td>{{ item.foot.det }}</td>
                    <td>{{ item.foot.ssp }}</td>
                    <td>{{ item.foot.memo }}</td>
                </tr>
                <tr>
                    <th>首</th>
                    <td><select class="form-control input-sm" ng-model="item.neck" ng-options="n.name for n in Necks"></select></td>
                    <td>{{ item.neck.str }}</td>
                    <td>{{ item.neck.vit }}</td>
                    <td>{{ item.neck.acc }}</td>
                    <td>{{ item.neck.crit }}</td>
                    <td>{{ item.neck.det }}</td>
                    <td>{{ item.neck.ssp }}</td>
                    <td>{{ item.neck.memo }}</td>
                </tr>
                <tr>
                    <th>耳</th>
                    <td><select class="form-control input-sm" ng-model="item.ear" ng-options="e.name for e in Ears"></select></td>
                    <td>{{ item.ear.str }}</td>
                    <td>{{ item.ear.vit }}</td>
                    <td>{{ item.ear.acc }}</td>
                    <td>{{ item.ear.crit }}</td>
                    <td>{{ item.ear.det }}</td>
                    <td>{{ item.ear.ssp }}</td>
                    <td>{{ item.ear.memo }}</td>
                </tr>
                <tr>
                    <th>腕</th>
                    <td><select class="form-control input-sm" ng-model="item.wrist" ng-options="wr.name for wr in Wrists"></select></td>
                    <td>{{ item.wrist.str }}</td>
                    <td>{{ item.wrist.vit }}</td>
                    <td>{{ item.wrist.acc }}</td>
                    <td>{{ item.wrist.crit }}</td>
                    <td>{{ item.wrist.det }}</td>
                    <td>{{ item.wrist.ssp }}</td>
                    <td>{{ item.wrist.memo }}</td>
                </tr>
                <tr>
                    <th>指1</th>
                    <td><select class="form-control input-sm" ng-model="item.ring1" ng-options="r1.name for r1 in Rings"></select></td>
                    <td>{{ item.ring1.str }}</td>
                    <td>{{ item.ring1.vit }}</td>
                    <td>{{ item.ring1.acc }}</td>
                    <td>{{ item.ring1.crit }}</td>
                    <td>{{ item.ring1.det }}</td>
                    <td>{{ item.ring1.ssp }}</td>
                    <td>{{ item.ring1.memo }}</td>
                </tr>
                <tr>
                    <th>指2</th>
                    <td><select class="form-control input-sm" ng-model="item.ring2" ng-options="r2.name for r2 in Rings"></select></td>
                    <td>{{ item.ring2.str }}</td>
                    <td>{{ item.ring2.vit }}</td>
                    <td>{{ item.ring2.acc }}</td>
                    <td>{{ item.ring2.crit }}</td>
                    <td>{{ item.ring2.det }}</td>
                    <td>{{ item.ring2.ssp }}</td>
                    <td>{{ item.ring2.memo }}</td>
                </tr>
            </tbody>

            <tfoot>
                <tr class="warning">
                    <th colspan="2" class="text-center">装備加算値</th>
                    <td>{{ getItemTotal(item).str | number }}</td>
                    <td>{{ getItemTotal(item).vit | number }}</td>
                    <td>{{ getItemTotal(item).acc | number }}</td>
                    <td>{{ getItemTotal(item).crit | number }}</td>
                    <td>{{ getItemTotal(item).det | number }}</td>
                    <td>{{ getItemTotal(item).ssp | number }}</td>
                    <td></td>
                </tr>
                <tr class="warning">
                    <th colspan="2" class="text-center">合計値</th>
                    <td>{{ getAllTotal(baseParameter, getItemTotal(item)).str | number }}</td>
                    <td>{{ getAllTotal(baseParameter, getItemTotal(item)).vit | number }}</td>
                    <td>{{ getAllTotal(baseParameter, getItemTotal(item)).acc | number }}</td>
                    <td>{{ getAllTotal(baseParameter, getItemTotal(item)).crit | number }}</td>
                    <td>{{ getAllTotal(baseParameter, getItemTotal(item)).det | number }}</td>
                    <td>{{ getAllTotal(baseParameter, getItemTotal(item)).ssp | number }}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>物理基本性能</th>
                <th>物理AA</th>
                <th>AA間隔</th>
                <th>AA威力※1</th>
                <th>クリ率</th>
                <th>クリ倍率</th>
            </tr>
            <tr>
                <td>{{ item.weapon.pyhd }}</td>
                <td>{{ item.weapon.aadam }}</td>
                <td>{{ getCalcAll(baseParameter, item).aaDelay | number }}</td>
                <td>{{ getCalcAll(baseParameter, item).aaDmg | number }}</td>
                <td>{{ getCalcAll(baseParameter, item).critAve | number }}</td>
                <td>{{ getCalcAll(baseParameter, item).critMag | number }}</td>
            </tr>
        </table>

        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>AA平均ダメ</th>
                <th>WS平均ダメ</th>
                <th>WS威力※2</th>
                <th>GCD</th>
                <th>疾風迅雷</th>
            </tr>
            <tr>
                <td>{{ getCalcAll(baseParameter, item).aaAveDmg | number }}</td>
                <td>{{ getCalcAll(baseParameter, item).wsAveDmg | number }}</td>
                <td><input type="number" style="width: 60px;" maxlength="5" ng-model="wsdmg"></td>
                <td>{{ getCalcAll(baseParameter, item).gcd | number }}</td>
                <td>
                    <select class="form-control input-sm" ng-model="jinrai">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </td>
            </tr>
        </table>

        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>AA DPS</th>
                <th>WS DPS</th>
                <th>総DPS</th>
                <th>基礎DPS</th>
            </tr>
            <tr>
                <td>{{ getCalcAll(baseParameter, item).aaDps | number }}</td>
                <td>{{ getCalcAll(baseParameter, item).wsDps | number }}</td>
                <td>{{ getCalcAll(baseParameter, item).allDps | number }}</td>
                <td>{{ getCalcAll(baseParameter, item).basicDps | number }}</td>
            </tr>
        </table>

    <p>※1 武器固有ではなく迅雷適用値</p>
    <p>※2 崩拳</p>

</div>

</body>
</html>